{% extends 'layout.html' %}

{% block content %}
    <div class="d-flex justify-content-around align-items-start mx-5 my-5">
        <div class="col-3 mx-5 my-5">
            <div class="wrapper d-flex justify-content-between align-items-center">
                <h2 class="mb-3">{{title}}</h2>
                <a href="/ninjas" class="btn btn-primary">Add a Ninja</a>
            </div>
            <form action="/dojos/create" method="post">
                <div class="form-group my-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
        <div class="col-3 text-center mx-5 my-5">
            <h2>All Dojos</h2>
            <div class="list-group list-group-flush my-3">
                {% for dojo in dojos %}
                    <a href="/dojos/{{dojo.id}}" class="list-group-item">{{dojo.name}}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}